/* Sidebar Wrapper */
.sidebar-wrapper {
  position: relative;
  display: flex;
  
}

/* Sidebar */
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #343a40;
  color: #fff;
  height: 100%;
  overflow: hidden;
  padding: 16px;
  transition: width 0.4s ease;
}

/* Sidebar Collapse Button (Arrow style) */
.sidebar__collapse-button {
  position: absolute;
  top: 20px;
  right: -50px; /* Adjusting position to align correctly */
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 11; /* Ensure the button stays on top of the sidebar */
  transition: transform 0.3s ease;
  font-size: larger;
  font-weight: bolder;
  
    
}

.sidebar__collapse-button:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  transition: transform 0.3s ease;
}

 
/* Sidebar Items */
.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #adb5bd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-item:hover {
  background-color: #495057;
  color: #fff;
}

.sidebar-item__active {
  background-color: #495057;
  color: #fff;
}

.sidebar-item__active-bg {
  position: absolute;
  inset: 0;
  background-color: #6c757d;
  border-radius: 8px;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.sidebar-item__icon {
  margin-right: 12px;
  font-size: 1.5rem;
}

.sidebar-item__title {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.3s ease, clip-path 0.3s ease;
}

.sidebar-item__collapsed .sidebar-item__title {
  display: none;
}
